p:first-child {
background-color: #6B8E23;
}

p{
background-color: #D8BFD8;
}



p:first-child:hover {
background-color: yellow;}

p:first-child:active {
background-color: red;}


p:hover {
background-color: #8B4513;
}

p:active {
    background-color: #FF8C00; /* gold */ 
   } 
