p:nth-child(2n+1){
	background-color: #C0C0C0;
}

p:first-letter {
	font-family: "Georgia";
    font-size: 2em;
    color: red;
}

p:after {
	content: "         *"}

p:before {
	content: "\2746"; /*тут снежинка, а не зонтик(((*/
}

 .block {
    background: #D8BFD8;
/*    border-radius: 10px;*/
    padding: 20px;
    position: relative;
    width: 100px;
    height: 50px;
    margin: 50px auto;
   }
 
 .block::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: -20px; bottom: 30px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
   	border-top: 10px solid #D8BFD8; /* Добавляем треугольник */
   	transform: rotate(90deg);
   }